<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>34796889668-e1vmdf0dh5li87a4q2pt0r4t7k7hbhir.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.34796889668-e1vmdf0dh5li87a4q2pt0r4t7k7hbhir</string>
	<key>API_KEY</key>
	<string>AIzaSyCBK3Sfs7CMeU8A428eLaf51KtvANCBEGw</string>
	<key>GCM_SENDER_ID</key>
	<string>34796889668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.NunawadingStaging.App</string>
	<key>PROJECT_ID</key>
	<string>assembly-77359</string>
	<key>STORAGE_BUCKET</key>
	<string>assembly-77359.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:34796889668:ios:5dded279a552b4a6</string>
	<key>DATABASE_URL</key>
	<string>https://assembly-77359.firebaseio.com</string>
</dict>
</plist>