<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>290826560562-tdgvdtt0i1bfhp71egdvm7umalfb6mbo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.290826560562-tdgvdtt0i1bfhp71egdvm7umalfb6mbo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>290826560562-bbi2b99p8r6fuu4nrpdl0rnjks2jf0v7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDH7YTb7QEA4T9g8OihMPwAHdypfP3LlTo</string>
	<key>GCM_SENDER_ID</key>
	<string>290826560562</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.busywizzy.GoogleCalender</string>
	<key>PROJECT_ID</key>
	<string>calenderdemo123</string>
	<key>STORAGE_BUCKET</key>
	<string>calenderdemo123.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:290826560562:ios:d7b11db8171d6c7e</string>
	<key>DATABASE_URL</key>
	<string>https://calenderdemo123.firebaseio.com</string>
</dict>
</plist>